@{
    ViewData["Title"] = "Home Page";
}

<body id="page-top">
    <!-- Navigation-->
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Environment</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">
                        Our recycling efforts, and recycling centre
                    </h2>
                    <a class="btn btn-primary" href="#about">About Us</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">About Us</h2>
                    <img class="img-fluid mb-5" src="https://lovenottiesteststorage.blob.core.windows.net/miscimages/reccenterimage.jpg" alt="..." />
                    <p class="text-white-50 mb-5">
                       Love Notties have established a recycling centre in Nottingham Road which operates every Friday from 9-12 am. The centre caters for all types of materials to be recycled and reused in the Nottingham area.
                    </p>
                </div>
            </div>
           
        </div>
    </section>
    <!-- Projects-->
    <section class="signup-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="bg_glass row gx-0 mt-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="https://lovenottiesteststorage.blob.core.windows.net/miscimages/recycling.jpg" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Litter Clean Up</h4>
                                <p class="mb-0 text-white-50">Love Notties is a dedicated champion for the environment, unwavering in its commitment to preserving the natural beauty of Nottingham. Through frequent litter clean-ups, the organization maintains clean streets, parks, and natural areas. Beyond clean-up efforts, they vigilantly monitor air, water, and soil quality, safeguarding both the ecosystem and residents.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="bg_glass row gx-0 mt-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="https://lovenottiesteststorage.blob.core.windows.net/miscimages/enveduimage.jpg" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Enviromental Education Program</h4>
                                <p class="mb-0 text-white-50">Love Notties extends its reach through partnerships with schools and communities, promoting environmental education and awareness. These collaborations facilitate valuable programs that educate students and community members about the importance of environmental stewardship. By engaging with local schools and communities, Love Notties encourages people to make informed choices to protect the environment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Two Row-->
            <div class="bg_glass row gx-0 mt-5 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="https://lovenottiesteststorage.blob.core.windows.net/miscimages/parks.jpg" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Parks and Gardens Initiative</h4>
                                <p class="mb-0 text-white-50">Love Notties works in close partnership with the Municipality and local environmental, parks, and gardens departments to enhance our region's aesthetics. They maintain road verges and gardens, ensuring an appealing environment that fosters community pride. Additionally, the organization actively combats invasive species, safeguarding the area's ecological balance. Love Notties' multifaceted efforts contribute to a beautiful, thriving community</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact-->
    <section class="contact-section bg-black">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">103 Old Main Road, Nottingham Road, 3280 (Midlands Animal Feeds)</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50"><a href="#!">lovenotties@gmail.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">065–738-5818</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="https://www.instagram.com/love_notties/"><i class="fab fa-instagram"></i></a>
                <a class="mx-2" href="https://www.facebook.com/lovenotties/"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
</body>