<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Love Notties</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="SANKAR Solutions" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CustomSheet.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js" asp-append-version="true"></script>
</head>
<body>
    <header>
       <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home"><img src="https://lovenottiesblob.blob.core.windows.net/miscimages/logopng_boarder_png.png" width="150" height="75" /></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="WhatsOn" asp-action="Index">What's On</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Blog" asp-action="Index">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="OurPeople" asp-action="Index">Our People</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="SuccessStory" asp-action="Index">Success Stories</a></li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-black small text-center text-white-50 align-items-center">
        <div class="main-footer widgets-dark typo-light">
                <div class="row align-content-around" style="justify-content:center;">

                    <div class="col-md-3 col-sm-4 col-md-3">
                        <div class="widget no-box">
                            <h5 class="widget-title">Quick Links<span></span></h5>            
                                <p>
                                    <div class="thumb-content"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></div>
                                </p>
                                <p>
                                    <div class="thumb-content"><a asp-area="" asp-controller="WhatsOm" asp-action="Index">Whats On</a></div>
                                </p>
                                <p>
                                    <div class="thumb-content"><a asp-area="" asp-controller="Blog" asp-action="Index">Blog</a></div>
                                </p>
                                <p>
                                    <div class="thumb-content"><a asp-area="" asp-controller="SuccessStory" asp-action="Index">Success Stories</a></div>
                                </p>
                                <p>
                                    <div class="thumb-content"><a asp-area="" asp-controller="OurPeople" asp-action="Index">Our People</a></div>
                                </p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-md-3">

                        <div class="widget no-box">
                            <h5 class="widget-title">Admin<span></span></h5>

                            <p>
                                <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </p>

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-md-3">

                        <div class="widget no-box">
                            <h5 class="widget-title">Contact Us<span></span></h5>
                                        <p><a asp-area="" asp-controller="GetInvolved" asp-action="Index">Contact Us</a></p>
            
                        </div>
                    </div>

                </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Love Notties © 2023. All rights reserved.</p>
                        <a asp-action="Privacy" asp-controller="Home">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
