@{
    ViewData["Title"] = "Home Page";
}

<body id="page-top">
    <!-- Navigation-->
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Dream Centre</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">
                        Our Education and upskilling program
                    </h2>
                    <a class="btn btn-primary" href="#about">About Us</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">About Us</h2>
                    <img class="img-fluid mb-5" src="https://lovenottiesblob.blob.core.windows.net/miscimages/dclogo.jpg" alt="..." />
                    <p class="text-white-50 mb-5">
                        At the heart of Nottingham Road, you'll find the Dream Centre, located within Midlands Community College. Here, we deliver training programs designed to eliminate the hurdles hindering individuals from entering the job market. Our mission centres around bridging the skills gap within our workforce. Through engaging lectures, role-playing scenarios, assignments, and mentorships, our programs shape individuals into employable adults. We instil a resolute work ethic and a commitment to excellence, fostering a new generation of professionals poised for success.
                    </p>
                </div>
            </div>
           
        </div>
    </section>
    <!-- Projects-->
    <section class="signup-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="bg_glass row gx-0 mt-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="https://lovenottiesblob.blob.core.windows.net/miscimages/workready.jpg" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class=" text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Work Ready</h4>
                                <p class="mb-0 text-white-50">This course strives to cultivate a resilient mindset in students. They are taught interview skills, how to effectively search for a job, managing time efficiently, financial and communication skills, developing strong employer - employee relations, and building values such as integrity and a strong work ethic for a professional setting.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="bg_glass row gx-0 mt-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="https://lovenottiesblob.blob.core.windows.net/miscimages/officeadmin.jpg" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Office Admin</h4>
                                <p class="mb-0 text-white-50">Designed for receptionists, personal assistants, and clerks, this course is tailored to enhance your administrative, communication, and technology proficiencies, preparing you to contribute in any office setting. The program covers a wide range of essential topics, including phone etiquette, customer relationship management, and general administrative skills, among others.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Two Row-->
            <div class="bg_glass row gx-0 mt-5 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="https://lovenottiesblob.blob.core.windows.net/miscimages/compliteracy.jpg" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Computer Literacy</h4>
                                <p class="mb-0 text-white-50">In today's working world, having a good understanding of computers is vital. Our program is here to ensure that students gain a strong foundation in fundamental computer skills. It's all about empowering you with the knowledge and confidence to navigate the digital landscape with ease, perfect for beginners or those looking to strengthen their computer capabilities.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact-->
    <section class="contact-section bg-black">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">103 Old Main Road, Nottingham Road, 3280 (Midlands Animal Feeds)</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50"><a href="#!">lovenotties@gmail.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">065–738-5818</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="https://www.instagram.com/love_notties/"><i class="fab fa-instagram"></i></a>
                <a class="mx-2" href="https://www.facebook.com/lovenotties/"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
</body>