@{
    ViewData["Title"] = "Home Page";
}

<body id="page-top">
    <!-- Navigation-->
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Education</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">
                        Our initiatives to help schools and the quality of education for our community's children.
                    </h2>
                    <a class="btn btn-primary" href="#about">About Us</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">About Us</h2>
                    <img class="img-fluid mb-5" src="https://lovenottiesblob.blob.core.windows.net/miscimages/dclogo.jpg" alt="..." />
                    <p class="text-white-50 mb-1">
                       At the heart of Nottingham Road, you'll find the Dream Centre, located within Midlands Community College. Here, we deliver training programs designed to eliminate the hurdles hindering individuals from entering the job market. Our mission centers around bridging the skills gap within our workforce. Through engaging lectures, role-playing scenarios, assignments, and mentorships, our programs shape individuals into employable adults. We instill a resolute work ethic and a commitment to excellence, fostering a new generation of professionals poised for success.
                    </p>
                    <a class="btn btn-primary mb-5" asp-action="Index" asp-controller="DreamCentre">View</a>
                </div>
            </div>
           
        </div>
    </section>
    <!-- Projects-->
    <section class="signup-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="bg_glass row gx-0 mt-5 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="https://lovenottiesblob.blob.core.windows.net/miscimages/imgfeed.png" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Our Feeding ECD</h4>
                                <p class="mb-0 text-white-50">We provide the ingredients for 2 EDC centres: Siyakhula and Sikhulile. This is a feeding scheme that gives each child breakfast, lunch, and a snack daily whilst at school. We work closely with these schools and often provide any extra support that may be needed either financially or with manpower. We believe in this as an integral part of education in South Africa and will continue to partner with these ECD centres as a prime objective of our outreach. Love Notties works closely with the surrounding schools and offers assistance in times of crisis, for example, we have helped connect companies that have items to donate and work as a conduit between them. Love Notties will remain as a support for any needs that arise during the school year whether it be financial, food related, counselling or with labour to help build vegetable gardens and set up functioning projects that help the school become a sustainable entity. We encourage speakers into schools to render talks on Gender Based Violence and engage with schools with recycling and environmental issues.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact-->
    <section class="contact-section bg-black">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">103 Old Main Road, Nottingham Road, 3280 (Midlands Animal Feeds)</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50"><a href="#!">lovenotties@gmail.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">065–738-5818</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="https://www.instagram.com/love_notties/"><i class="fab fa-instagram"></i></a>
                <a class="mx-2" href="https://www.facebook.com/lovenotties/"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
</body>